{{ define "jira.alarm.summary" }}
   {{.Annotations.Summary}}
{{end}}

{{ define "jira.alarm.comment" }}{{.Status}}: {{.Annotations.Description}}{{end}}




{{ define "jira.alarm.description" }}
Description : 
   {{.Annotations.Description}}

Labels:
{{ range .Labels.SortedPairs }} - {{ .Name }} = {{ .Value }}
{{ end }}
Annotations:
{{ range .Annotations.SortedPairs }} - {{ .Name }} = {{ .Value }}
{{ end }}
Source: {{ .GeneratorURL }}
{{ end }}